@media (max-width: 1200px) {
  .collection {
    grid-template-columns: repeat(3, 1fr);
  }
  .top {
    &__slider-title {
      font-size: 62px;
      line-height: 74px;
    }
    &__slider-img {
      height: 640px;
    }
  }
}
@media (max-width: 1000px) {
  .top {
    &__inner {
      &::after {
        height: 100%;
      }
    }
    &__slider-title {
      font-size: 44px;
      line-height: 54px;
    }
    &__slider-img {
      height: 540px;
    }
  }
  .footer {
    &__info {
      width: 380px;
      &-text {
        max-width: 100%;
      }
    }
    &__form {
      display: flex;
      gap: 10px;
    }
  }
}

@media (max-width: 768px) {
  .how {
    &__item {
      width: 350px;
      &--production {
        margin-left: 50px;
      }
      &--detail {
        margin-left: 100px;
      }
    }
  }
  .decor {
    display: none;
  }
  .collection {
    grid-template-columns: repeat(2, 1fr);
  }
  .new-collection__title {
    font-size: 30px;
    line-height: 36px;
  }
  .top {
    &__inner {
      padding-bottom: 20px;
    }
    &__slider {
      &-item {
        .top__slider-img {
          display: none;
        }
      }
      &-title {
        padding-top: 6%;
      }
    }
  }
  .footer {
    &__inner {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__info {
      width: 100%;
      margin-bottom: 50px;
    }
    &__menu {
      margin-left: auto;
      margin-right: auto;
    }
    &__social {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .header__btn {
    display: none;
  }
  .menu {
    padding-right: 0;
    padding-left: 0;
  }
  .logo {
    margin: 0;
  }
  .menu__item {
    & + .menu__item {
    }
  }
}

@media (max-width: 555px) {
  .how__item--production::after,
  .how__items-box::after,
  .how__item--detail::after {
    display: none;
  }
  .how__item--detail {
    margin-left: 0;
  }
  .how__item--production {
    margin-left: 0;
  }
  .how__items-box {
    border: none;
    display: block;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .how {
    padding: 40px 0 0px;
  }
  .collection {
    grid-template-columns: repeat(1, 1fr);
  }
  .new-collection {
    padding-bottom: 0;
  }
  .collection__img {
    width: 100%;
  }
  .header {
    &__inner {
      flex-wrap: wrap;
      padding-top: 42px;
    }
  }
  .menu {
    padding-right: 0;
    width: 100%;
    position: relative;
    background-color: #fff;
    z-index: 11;
    text-align: center;
    transform: translateY(-280px);
    transition: all 0.7s;
    &--open {
      transform: translateY(30px);
    }
    &__list {
      display: block;
    }
    &__item {
      display: block;
      padding: 15px 0;
    }
  }
  .logo {
    order: -1;
    position: relative;
    z-index: 12;
  }
  .header__btn-menu {
    position: relative;
    z-index: 12;
    order: -1;
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & span {
      height: 2px;
      width: 100%;
      background-color: grey;
    }
  }
}
